*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}

body{
    background-color: rgba(14, 37, 85, 0.993);
    font: 1rem;
    color: rgba(5, 0, 62, 0.496);
    padding: 70px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* section 1 */

.top-banner{
    color: white;
    text-shadow: #000 2px 2px 5px;
}

.heading{
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: .02em;
    padding: 0 0 30px 0;
}

.top-banner form{
    position: relative;
    display: flex;
    align-items: center;
}

button ,
input {
    border: none;
    background: none;
    outline: none;
    color: aliceblue;
}

.top-banner form input{
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
}

.top-banner form button {
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .1em;
    padding: 15px 20px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: rgb(195, 0, 0);
}

.top-banner form .msg {
    text-shadow: none;
    color: rgb(230, 156, 156);
    position: absolute;
    bottom: -50px;
    left: 0;
    max-width: 450px;
    min-height: 40px;
}

.load-section{
    position: relative;
    padding: 40px 10%;
    border-radius: 10px;
    background-color: #fff;
    color: #4f4c4c;
}

.load-section .city::after{
    width: 90%;
    height: 50px;
    position: absolute;
    opacity: 0.3;
    border-radius: 10px;
    background-color: #fff;
}